<div class="container">


    <h1>Administrarea users</h1>
    
    
    <div class="container mb-4">
        <form #f = "ngForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Nume</label>
              <input [(ngModel)] = "selectedUser.nume"  name="nume" type="text" class="form-control" id="nume" aria-describedby="numeHealp">
              <small id="numeHealp" class="form-text text-muted">Numele completat corect</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Prenume</label>
                <input [(ngModel)] = "selectedUser.prenume" name="prenume" type="text" class="form-control" id="prenume" aria-describedby="prenumeHealp">
                <small id="prenumeHealp" class="form-text text-muted">Prenumele completat corect</small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">An</label>
                <input [(ngModel)] = "selectedUser.datanastere" name="datanastere" type="date" class="form-control" id="an" aria-describedby="anHealp">
                <small id="anHealp" class="form-text text-muted">Format:2022-01-01</small>
              </div>
              <input [(ngModel)] = "selectedUser.id" name="id" type="hidden" class="form-control" id="id" >
               
            
            
            <button (click)="createOrUpdateUser(f)" type="submit" class="btn btn-primary">Create or Update User</button>
          </form>
          
    </div>
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nume</th>
            <th scope="col">Prenume</th>
            <th scope="col">Email</th>
            <th scope="col">Operatii</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" [attr.id]="user.id">
                <td>{{ user.id }}</td>
                <td>{{ user.nume }}</td>
                <td>{{ user.prenume }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="deleteUser(user.id)">Delete</button>
                  <button type="button" class="btn btn-danger" (click)="selectUser(user)">Update</button>
                </td>
              </tr>
        </tbody>
      </table>
    </div>